* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  font-family: $font_sans;
  color: $font_color;
  position: relative;
  font-size: $font_size;
  line-height: 1.5;

  @include pc-screen {
    min-width: 1200px;
  }

}

img {
  width: 100%;
  height: auto;
}

a {
  color: $link_color;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}
