/* Footer
--------------------------------------------------------------*/
.l-footer {
  position: relative;
  background: #000;
  color: #fff;

  @include pc-screen {
    font-size: 1.2rem;
  }

  &__inner {
    padding: 27px 14px;
    margin: 0 auto;
    @include pc-screen {
      max-width: 1030px;
      padding: 56px 0;
    }

    a {
      @include pc-screen {
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  &__bottom {
    background: #bebeb6;
  }
}


.l-footer__companylogo {
  margin: 0 auto 30px;
  width: 48px;
  @include pc-screen {
    width: 74px;
    margin-bottom: 108px;
  }
}

.l-footer__list {
  @include pc-screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__01 {
    &:not(:last-child) {
      margin-bottom: 58px;
      @include pc-screen {
        margin-bottom: 80px;
      }
    }
    @include pc-screen {
      width: 26%;
    }
  }

  &__02 {
    &:not(:last-child) {
      margin-bottom: 58px;
      @include pc-screen {
        margin-bottom: 80px;
      }
    }
    @include pc-screen {
      width: 70%;
    }
  }
}

.l-footer__title {
  text-align: center;
  border-bottom: solid 1px rgba(#fff, 0.2);
  padding-bottom: 3px;
  margin-bottom: 1.2em;
  @include pc-screen {
    text-align: left;
  }
}

.l-footer__sitemap {
  &__01 {
    text-align: center;

    @include pc-screen {
      display: flex;
      justify-content: space-between;
      text-align: left;
    }

    a {
      color: #fff;
    }
  }

  &__02 {
    background: #323333;
    width: 100%;
    padding: 0.6em 0 1.3em;
    margin: 0.4em 0 0;
    display: none;
    box-shadow: 0 8px 10px -10px #000 inset;
    position: relative;
    text-align: center;
    @include pc-screen {
      display: block;
      background: none;
      width: 100%;
      padding: 0;
      margin: 1em 0 0;
      box-shadow: none;
      text-align: left;

    }

    &.is-active {
      @include sp-screen {
        display: block;
      }
    }
  }

  &__item {
    &__01 {
      margin-bottom: 1.3em;
      position: relative;
      @include pc-screen {
        width: 155px;
        margin-bottom: 0;
        padding-right: 1.5em;
      }
    }

    &--top {
      @include pc-screen {
        width: 48px;
      }
    }



    &__02 {
      margin-bottom: 0.2em;
      @include pc-screen {
        margin-bottom: 0;
      }

      & > a {
        @include pc-screen {
          padding-left: 1em;
          position: relative;
        }

        &::before {
          content: '>';
          margin-right: 0.2em;

          @include pc-screen {
            position: absolute;
            left: 0;
            top: 1px;
            line-height: 1;
          }
        }
      }
    }
  }

  &__toggle {
    @include sp-screen {
      display: block;
      width: 100vw;
      margin: 0.4em 0 0 -14px;
      overflow-y: hidden;
    }
  }
}

.l-footer__sns {
  color: #fff;
  display: flex;
  justify-content: center;
  line-height: 1;
  @include pc-screen {
    font-size: 58px;
    justify-content: flex-start;
  }

  &__item {
    margin: 0 10px;
    @include pc-screen {
      margin-right: 22px;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  a {
    color: inherit;
  }
}

.l-footer__company {
  text-align: center;
  @include pc-screen {
    display: flex;
    text-align: left;
  }

  a {
    color: #fff;
  }

  &__content {
    margin-top: 1em;
    @include pc-screen {
      margin-top: 0;
      margin-left: 60px;
    }
  }
}

.l-footer__group {
  text-align: center;
  @include pc-screen {
    text-align: left;
  }

  a {
    color: inherit;
  }
}

.l-footer__copy {
  color: $font_color;
  padding: 1em;
  font-size: 0.6rem;
  text-align: center;
  @include pc-screen {
    font-size: 1.2rem;
  }
}
