.l-header {
  height: 60px;

  @include pc-screen {
    height: 80px;
  }

  &__inner {
    background: #fff;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    @include pc-screen {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      min-width: 1200px;
      height: 80px;
      padding: 0 22px 0 48px;
    }
  }

  &__logo {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    width: 110px;
    @include pc-screen {
      margin: 0;
      text-align: left;
      padding-top: 20px;
      width: 140px;
    }

    img {
      width: 100%;
      height: auto;
      display: inline-block;
      @include pc-screen {
        width: 100%;
        height: auto;
      }
    }

    &__text {
      font-size: 1.1rem;
      font-weight: bold;
      display: block;
      @include pc-screen {
        font-size: 1.4rem;
      }
    }
  }

  &__en {
    margin-left: 32px;
    font-family: $font_sans;
    font-weight: bold;

    &__link {
      display: inline-block;
      font-size: 2.1rem;
      padding: 6px 7px;
      border: solid 2px #cecec8;
      line-height: 1;
    }
  }
}

.l-header__nav-area {
  display: none;
  @include pc-screen {
    display: flex;
    align-items: center;
  }

  &__hamburger {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 48px;
    height: 53px;
    @include pc-screen {
      display: none;
    }

    span {
      display: block;
      width: 20px;
      height: 3px;
      background: #000;
      position: absolute;
      right: 14px;

      &:nth-child(1) {
        top: 18px;
      }

      &:nth-child(2) {
        top: 25px;
      }

      &:nth-child(3) {
        top: 32px;
      }
    }
  }
}

.l-header__nav {
  text-align: center;

  &__item {
    border-bottom: solid 1px #f2f2f0;
    position: relative;

    @include pc-screen {
      border-bottom: 0;
      display: inline-block;
      margin-left: 24px;

      &:hover {
        .l-header__nav__text {
          font-weight: bold;

          &::before {
            display: block;
          }
        }
      }
    }
  }

  &__text {
    display: block;
    padding: 10px 0;
    position: relative;

    @include pc-screen {
      display: flex;
      align-items: center;
      height: 80px;

      &:hover {
        color: #000;
        text-decoration: none;
      }
    }

    &::before {
      content: '';
      display: none;
      width: 3.5em;
      height: 2px;
      background: #000;
      position: absolute;
      bottom: -1px;
      left: 50%;
      transform: translateX(-50%);

      @include pc-screen {
        width: 60%;
      }
    }
  }
}
