.p-article-card {
  position: relative;
  box-shadow: 4px 4px 8px 0 rgba(101 , 93 , 51 , 0.5);
  width: 75%;
  margin-bottom: 53px;
  @include sp-screen {
    margin-right: auto;
    margin-left: auto;
  }
  @include pc-screen {
    margin-right: 5.7%;
    margin-left: 5.7%;
    margin-bottom: 78px;
    width: 480px;
    box-shadow: 6px 6px 8px 0 rgba(100, 93, 51, 0.5);
  }

  &:hover {
    box-shadow: none;

    &::after,
    &::before {
      content: '';
      display: block;
      background-color: #000;
      position: absolute;
      z-index: 1;
    }

    &::before {
      width: 3px;
      height: 100%;
      right: 0;
      top: 0;
      z-index: 2;
    }

    &::after {
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      z-index: 2;
    }

    .p-article-card__label {
      background: #000;
      opacity: 1;
    }
  }

  a {
    display: block;
    height: 100%;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 20px 20px;
      border-color: transparent transparent #000;
      position: absolute;
      opacity: 0;
      z-index: 1;
      right: 0;
      bottom: 0;
    }

    &:hover {
      text-decoration: none;
      color: inherit;
      opacity: 1;

      &::after {
        opacity: 1;
      }
    }
  }

  &__label {
    background: #bebeb6;
    color: #fff;

    @include sp-screen {
      font-size: 1.4rem;
      padding: 8px 1em;
      text-align: center;
    }

    @include pc-screen {
      font-size: 1.8rem;
    }
  }

  &__img {
    img {
      vertical-align: bottom;
    }
  }

  &__title02 {
    font-size: 1.1rem;
    font-family: $font_serif;
    font-weight: bold;

    @include pc-screen {
      font-size: 1.4rem;
    }
  }

  &__title {
    font-size: 1.2rem;
    font-family: $font_serif;
    font-weight: bold;

    @include pc-screen {
      font-size: 1.8rem;
    }
  }

  &__01 {
    @extend .p-article-card;

    .p-article-card__content {
      padding: 25px 15px;
      background: #fff;

      @include pc-screen {
        padding: 30px;
      }
    }

    .p-article-card__label {
      @include pc-screen {
        text-align: center;
        padding: 17px 10px;
      }
    }

    .p-article-card__title {
      margin-bottom: 1.5em;
    }

  }

  &__02 {
    @extend .p-article-card;
    overflow: hidden;
    position: relative;

    a {
      position: relative;

      @include sp-screen {
        padding-top: 75%;
      }
    }

    .p-article-card__title {
      @include sp-screen {
        font-size: 1.2rem;
      }
    }

    .p-article-card__img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;

      img {
        @include pc-screen {
          min-height: 100%;
          width: auto;
        }
      }
    }

    .p-article-card__content {
      background: rgba(255 , 255 , 255 , 0.8);
      padding: 0 25px 20px;
      z-index: 1;
      position: relative;

      @include pc-screen {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 35px 56px 20px;
      }
    }

    .p-article-card__label {
      max-width: 198px;
      width: 100%;
      transform: translateY(-50%);

      @include sp-screen {
        text-align: left;
        padding: 0 0 0 23px;
        line-height: 1.4;
        margin-left: -25px;
        margin-bottom: 1em;
      }

      @include pc-screen {
        position: absolute;
        left: 0;
        top: 0;
        max-width: 330px;
        padding-left: 64px;
      }
    }

    .p-article-card__title02 {
      margin-bottom: 2em;

      @include pc-screen {
        margin-bottom: 0;
      }
    }
  }
}

.p-article-card-s {
  position: relative;
  box-shadow: 6px 6px 8px 0 rgba(101, 93, 51, 0.5);
  width: 77%;
  margin-bottom: 53px;

  @include sp-screen {
    margin-right: auto;
    margin-left: auto;
  }

  @include pc-screen {
    margin-right: 3.2%;
    margin-left: 3.2%;
    width: 330px;
    margin-bottom: 78px;
  }

  &:hover {
    box-shadow: none;

    &::after,
    &::before {
      content: '';
      display: block;
      background-color: #000;
      position: absolute;
      z-index: 1;
    }

    &::before {
      width: 3px;
      height: 100%;
      right: 0;
      top: 0;
      z-index: 2;
    }

    &::after {
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      z-index: 2;
    }

    .p-article-card-s__label {
      background: #000;
      opacity: 1;
    }
  }

  a {
    display: block;
    height: 100%;
    background-color: #fff;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 20px 20px;
      border-color: transparent transparent #000;
      position: absolute;
      opacity: 0;
      z-index: 1;
      right: 0;
      bottom: 0;
    }

    &:hover {
      text-decoration: none;
      color: inherit;
      opacity: 1;

      &::after {
        opacity: 1;
      }
    }
  }

  &__label {
    @extend .p-article-card__label;

    @include pc-screen {
      text-align: center;
      padding: 10px;
    }
  }

  &__copy__wrap {
    margin-bottom: 25px;

    @include pc-screen {
      margin-bottom: 30px;
    }
  }

  &__copy__01 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.65;

    &:nth-of-type(n+2) {
      margin-top: 0.8em;
    }

    @include pc-screen {
      font-size: 2.2rem;
    }
  }

  &__copy__02 {
    font-size: 1.1rem;
    display: block;
    line-height: 1.65;

    @include pc-screen {
      font-size: 1.2rem;
      text-indent: 0.5em;
    }
  }

  &__img {
    img {
      vertical-align: bottom;
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: $font_serif;
    @include pc-screen {
      font-size: 1.8rem;
    }
  }

  &__title02 {
    @extend .p-article-card-s__title;

    @include sp-screen {
      font-size: 1.8rem;
    }
  }

  &__text {
    font-size: 1.2rem;

    @include pc-screen {
      font-size: $font_size;
    }
  }

  &__01 {
    @extend .p-article-card-s;

    .p-article-card-s__content {
      padding: 35px 17px;

      @include pc-screen {
        padding: 45px 20px;
      }
    }

    .p-article-card-s__title02 {
      margin-bottom: 2.5em;
      @include pc-screen {
        margin-bottom: 2em;
      }
    }
  }

  &__02 {
    @extend .p-article-card-s;

    .p-article-card-s__content {
      padding: 9px 25px;

      @include pc-screen {
        display: flex;
        padding: 16%;
        align-items: center;
      }
    }
  }

  &__03 {
    @extend .p-article-card-s;
    position: relative;

    a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .p-article-card-s__img {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }
}
