.p-article {
  &__flex {
    @include pc-screen {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 auto;
    }
  }

  &__2col {

    &__content {
      background: #fff;
      padding: 0 20px 30px;
      @include pc-screen {
        width: 500px;
        padding: 30px;
      }
    }

    &__img__wrap {
      position: relative;
      @include sp-screen {
        width: 96%;
        margin: 0 auto;
      }
      @include pc-screen {
        padding-left: 20px;
      }
    }

    &__img {
      box-shadow: 4px 4px 7px 0 rgba(101 , 93 , 51 , 0.5);

      @include pc-screen {
        box-shadow: 6px 6px 8px rgba(101 , 93 , 51 , 0.5);
      }

      img {
        vertical-align: bottom;
      }
    }

    &__img__label {
      background: #000;
      color: #fff;
      font-size: 1.2rem;
      position: absolute;
      padding: 6px 10px;
      min-width: 107px;
      top: 34.3%;
      left: -15px;
      @include pc-screen {
        font-size: 2.4rem;
        left: 0;
        min-width: 215px;
      }
    }

    &__title {
      font-weight: bold;
      font-size: 1.8rem;
      font-family: $font_serif;
      margin-top: 1.5em;
      margin-bottom: 1em;
      @include pc-screen {
        margin-top: 0;
        font-size: 2.4rem;
      }
    }

    &__name {
      font-size: 1.1rem;
      font-family: $font_serif;
      font-weight: bold;
      margin-bottom: 2em;
      @include pc-screen {
        font-size: $font_size;
      }
    }

    &__text {
      font-size: $font_size;
    }

    &__button {
      margin-top: 4em;
      text-align: center;
    }

    &__01 {
      padding: 0 36px;
      margin-bottom: 31px;

      @include pc-screen {
        display: flex;
        padding: 0;
        max-width: 1200px;
        margin: 0 auto 78px;
      }

      .p-article__2col__title {
        margin-bottom: 1.2em;
      }

      .p-article__2col__img__wrap {
        @include sp-screen {
          width: 100%;
        }

        @include pc-screen {
          margin-right: 50px;
          width: 620px;
        }
      }
    }

    &__02 {
      padding: 0 36px;
      margin-bottom: 31px;

      @include pc-screen {
        display: flex;
        padding: 0;
        max-width: 1220px;
        margin: 0 auto 78px;
      }

      .p-article__2col__img__wrap {
        @include pc-screen {
          margin-right: 57px;
        }
      }

      @include pc-screen {
        justify-content: center;
        align-items: center;
      }

      .p-article__2col__img__label {
        @include pc-screen {
          top: 23.3%;
        }
      }

      .p-article__2col__title {
        @include pc-screen {
          margin-top: 0;
          margin-bottom: 3.5em;
        }

        @include sp-screen {
          margin-bottom: 0.8em;
        }
      }
    }
  }
}
