/* Nav
--------------------------------------------------------------*/
.p-nav-bar {
  position: fixed;
  left: 30px;
  top: 56%;
  transform: translateY(-50%);
  z-index: 10;

  &__item {
    a {
      position: relative;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #fff;
      border: 1px solid #e1e0e1;
    }

    &.is-active {
      span {
        display: block;
        color: #000;
      }
    }

    &:not(:last-child) {
      a {
        margin-bottom: 85px;

        &::after {
          content: '';
          display: block;
          width: 2px;
          height: 85px;
          background-color: #e1e0e1;
          position: absolute;
          top: 8px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    span {
      font-size: 1.4rem;
      position: absolute;
      transform-origin: top left;
      width: 115px;
      top: 6px;
      left: 0;
      transform: rotate(90deg) translateY(-100%);
      line-height: 1.5;
      padding-bottom: 1em;
      text-align: center;
      display: none;

      &::before {
        content: '';
        display: block;
        height: 14px;
        width: 1px;
        background: #000;
        top: 6px;
        position: absolute;
        left: -2px;
      }
    }
  }
}
