/* Top Page
--------------------------------------------------------------*/
.p-top__content {
  width: 100%;

  @include pc-screen {
    min-width: 1200px;
  }
}

.p-top__kv {
  width: 86vw;
  height: auto;
  position: relative;
  z-index: 10;
  padding: 8vw 0 16vw;
  margin: 0 auto;

  @include pc-screen {
    width: 887px;
    height: auto;
    padding: 80px 0 100px;
  }

  img {
    vertical-align: bottom;
  }

  &__area {
    position: relative;
    background: url('/assets/img/top/kv_bg_sp.png') top center / cover no-repeat;
    margin-bottom: 30px;

    @include pc-screen {
      margin-bottom: 60px;
      background: url('/assets/img/top/kv_bg_pc.png') top center / cover no-repeat;
    }
  }

  &-date {
    text-align: center;
    color: #666;
    position: absolute;
    bottom: 7px;
    left: 0;
    width: 100%;
    font-size: 1rem;
    @include pc-screen {
      font-size: 1.4rem;
      width: auto;
      right: 7.1%;
      left: auto;
      bottom: 10px;
    }
  }
}

.p-top__inner {
  padding: 0 5% 60px;
  position: relative;
  z-index: 3;

  @include pc-screen {
    width: 1180px;
    margin: 0 auto;
    padding: 0 0 120px;
  }
}

.p-top__section {
  position: relative;
  margin-bottom: 40px;

  @include pc-screen {
    margin-bottom: 100px;
  }

  &:nth-of-type(n+2) {
    margin-top: 37px;
    @include pc-screen {
      margin-top: 100px;
    }
  }
}

.c-top__4col__wrap {
  margin-top: 30px;
  @include pc-screen {
    margin-top: 60px;
  }
}

.c-top__4col {
  display: flex;
  flex-wrap: wrap;

  li {
    width: calc(50% - 5px);
    box-shadow: 4px 4px 7px 0 rgba(101 , 93 , 51 , 0.5);
    @include pc-screen {
      width: calc(25% - 15px);
      box-shadow: 6px 6px 8px rgba(101 , 93 , 51 , 0.5);

      &:not(:nth-child(4n)) {
        margin-right: 20px;
      }

      &:nth-child(n+5) {
        margin-top: 20px;
      }
    }

    @include sp-screen {
      &:nth-child(odd) {
        margin-right: 10px;
      }

      &:nth-child(n+3) {
        margin-top: 10px;
      }
    }
  }

  a {
    display: block;
  }

  img {
    vertical-align: bottom;
  }
}
