/* Button
--------------------------------------------------------------*/
.c-button {
  font-family: $font_sans;
  padding: 5px 8px 4px;
  text-align: center;
  background-color: #e90000;
  color: #fff;
  font-size: 1rem;
  display: inline-block;
  width: 105px;
  letter-spacing: 0.2em;
  cursor: pointer;

  @include pc-screen {
    font-size: $font_size;
    width: 210px;
    padding: 14px 12px;
    letter-spacing: 0.3em;
  }

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
