/* heading
-------------------------------------- */
.c-heading {
  font-family: $font_serif;
  position: relative;
  width: 92%;
  font-size: 2.4rem;
  text-align: right;
  margin-right: 30px;
  margin-bottom: 65px;
  line-height: 1.75;


  @include pc-screen {
    width: 86%;
    min-width: 1000px;
    font-size: 4.8rem;
    margin-right: 0;
    margin-bottom: 85px;
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #949494;
    position: absolute;
    left: 0;
    bottom: 9px;

    @include pc-screen {
      bottom: 18px;
    }
  }

  &::after {
    content: '';
    display: block;
    background: #000;
    position: absolute;
    left: 0;
    width: 10px;
    height: 50px;
    top: 31px;
    @include pc-screen {
      width: 18px;
      height: 100px;
      top: 66px;
    }
  }

  span {
    position: relative;
    padding-top: 2px;

    &::before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background: #000;
      position: absolute;
      right: -15px;
      top: 0;
      z-index: 1;

      @include pc-screen {
        right: -28px;
        width: 17px;
        height: 17px;
      }
    }

    &::after {
      content: '';
      display: block;
      width: 52px;
      height: 52px;
      background: #f1f1ef;
      position: absolute;
      right: -15px;
      top: 0;
      z-index: -1;

      @include pc-screen {
        right: -28px;
        width: 107px;
        height: 107px;
      }
    }
  }
}
