/* Link
--------------------------------------------------------------*/
.c-link__arrow {
  font-size: 1.2rem;

  @include pc-screen {
    font-size: 2rem;

    &:hover {
      opacity: 0.7;
    }
  }

  &::after {
    content: '>';
    display: inline-block;
    margin-left: 8px;
  }
}

.c-link__wrap {
  text-align: center;
}
