//mixin
@mixin sp-screen {
  @media screen and (max-width: 750px) {
    @content;
  }
}

@mixin pc-screen {
  @media screen and (min-width: 751px) {
    @content;
  }
}

@mixin pc-wide-screen {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
