$font_sans: 'Hiragino Sans W3', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$font_serif: 'Hiragino Mincho ProN W3', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', '游明朝', YuMincho, 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;

$font_size: 1.4rem;

$font_color: #000;
$link_color: #000;
